---
layout: default
---
<section class="grid banner" style="background-image:url(/images/{{ page.background-image }})">
  <div class="col-12 header">
    <h1 class="col-12">{{ page.title }}</h1>
    <h2 class="col-12">{{ page.subtitle }}</h2>
    <p class="col-12">Reading time: {{ page.reading-time }}</p>
    <p class="col-12">Date: {{ page.date | date_to_long_string }}</p>
    <p class="col-12">location: {{ page.location }}</p>
    <p class="col-12">Sector: {{ page.sector }}</p>
  </div>
</section>
<div class="grid">
  <div class="col-9">
    <section class="feat-bg">
      <h2 class="">Introduction</h2>
      <p class="col-12 introblurb">{{ page.quote }}</p>
    </section>
    <section class="light-bg">
      <h2 class="">Challenge</h2>
      <p>
        {{ page.challenge }}
      </p>
    </section>
    <section class="">
      <h2 class="">the case</h2>
      <p>
        {{content}}
      </p>
    </section>
    <section class="dark-bg">
      <div class="">{{featured-image}}</div>
      <h2 class="">Conclusion</h2>
      <p>
        {{ page.conclusion }}
      </p>
    </section>
  </div>
  <aside class="col-3 dark-bg">
    <h1 class="">Bloop{{ page.keystats }}</h1>
    <nav class=""><!--include scrolling menu-->
      <a href="#introduction">Introduction</a>
      <a href="#challenge">Challenge</a>
      <a href="#the-case">The case</a>
      <a href="#Conclusion">Conclusion</a>
    </nav>
  </aside>
</div>
