---
layout: default
---
<section class="grid banner" style="background-image:url(/images/{{ page.background-image}})">
  <div class="col-12 header">
    <h1 class="col-12 ">{{ page.title }}</h1>
    <h2 class="col-12 ">{{ page.subtitle }}</h2>
  </div>
  <div class="col-12 banner-bg">
    <p class="col-12"><i class="fa fa-clock-o" aria-hidden="true"></i> Reading time: {{ page.reading-time }}</p>
    <p class="col-12"><i class="fa fa-calendar" aria-hidden="true"></i> Date: {{ page.date | date_to_long_string }}</p>
    <p class="col-12"><i class="fa fa-map-marker" aria-hidden="true"></i> Location: {{ page.location }}</p>
    <p class="col-12"><i class="fa fa-industry" aria-hidden="true"></i> Sector: {{ page.sector }}</p>
  </div>
</section>
<div class="grid">
  <div class="col-9">
    <section class="dark-bg" id="introduction">
      <h2 class="">Introduction</h2>
      <p class="col-12 intro-blur ">{{ page.quote }}</p>
    </section>
    <section class="light-bg" id="challenge">
      <h2 class="">Challenge</h2>
      <p>
        {{ page.challenge }}
      </p>
      <p class="quote-bg">
      {{ page.quote }}
      </p>
    </section>
    <section class="light-bg" id="the-case">
      <h2 class="">The Case</h2>
      <p>
        {{content}}
      </p>
    </section>
    <section class="feat-bg" id="conclusion">
      <div class="">{{featured-image}}</div>
      <h2 class="">Conclusion</h2>
      <p>
        {{ page.conclusion }}
      </p>
    </section>
  </div>
  <aside class="col-3 contrast-bg">
      <h2>Content</h2>
    <ol class=" col-8 contrast-bg navigation"><!--include scrolling menu-->
      <li><a href="#introduction">Introduction</a></li>
      <li><a href="#challenge">Challenge</a></li>
      <li><a href="#the-case">The case</a></li>
      <li><a href="#Conclusion">Conclusion</a></li>
    </ol>
    <div class="col-8 contrast-bg keystats">
      <h2 class="">Keystats</h2>
      <div class="stats">
        {% for stat in page.keystats %}
        <p class= "figure"> {{ stat.figure }}</p>
        <p> {{ stat.measure }}</p>
          {% endfor %}
      </div>
    </div>
  </aside>
